
/* LAYOUT */

.main-layout {
    max-width: 980px;
    margin: 0 auto;
}
/* MOBILE LAYOUT */
 .main-layout{
    min-width: fit-content;
 }

/* HELPER */

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.flex-basis50 {
    flex-basis: 50%;
}

.text-center {
    text-align: center;
}


header{
    min-height: 50px;
    font-size: 32px;
    color: grey;
}
.bg-color{
    background-color: rgb(7, 107, 238);
    padding-bottom: 20px;
}

.box{
    display: flex;
    padding: 0 20px;
    padding-bottom: 20px;
}
.box-1{
    display: flex;
    background-color: rgba(202, 195, 195, 0.253);
    margin: 30px ;
    padding: 25px;
}
.info{
    background-color: rgb(245, 238, 238);
    display: flex;
    padding: 60px 20px;
    
}
.info img{
    border: solid 2px black;
    border-radius: 50%;
    max-height: 100px;
    max-width: 100px;
    /* align-self: center;
    justify-content: center; */
   
}
footer{
    margin: 25px 0;
}
footer a{
    text-align: center;
    text-decoration: none;
    color: grey;
  
}
.cards img{
    max-width: 64px;
}
.call {
    display: inline-block;
    width: 90%;
    height: 30px;
    text-transform: uppercase;
}
hr{
    color:white
}
.b1{
    width: 90%;
    height: 30px;
    text-transform: uppercase;
}
   

@media only screen and (max-width: 640px){

.logo header{
    display: flex;
    justify-content: center;  
}

form{
    display: flex;
    flex-direction: column;
    
}
}